extends layout

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Sign Up

        // register form
        form(method='POST' action='/signup' role='form')
          div.form-group
            label(for='fullname') Full Name:
            input#favoriteBook.form-control(type='text', placeholder='first and last name' name='fullname')
            label(id='alert') #{message}
          div.form-group
            label(for='username') Username:
            input#name.form-control(type='text', placeholder='username' name='username')
            label(id='alert') #{message}
          div.form-group
            label(for='email') Email:
            input#email.form-control(type='email', placeholder='name@email.com' name='email')
            label(id='alert') #{message}
          div.form-group
            label(for='password') Password:
            input#pw.form-control(type='password' name='password')
            label(id='alert') #{message}
            br
            br
          button.btn.btn-primary(type='submit') Sign up
          &nbsp;
          a.btn.btn-default(role='button', href='/') Cancel